CONFIG_CC=i386-apple-darwin11-clang
CONFIG_CXX=i386-apple-darwin11-clang++
CONFIG_AR=i386-apple-darwin11-ar
CONFIG_LIBS=-lSDL2 -framework CoreFoundation -framework OpenGL -framework GLUT -lm
CONFIG_BINARY=d2l.sh
CONFIG_SO=so

CONFIG_SOIL_LIBS=-framework CoreFoundation -framework OpenGL
CONFIG_LAUNCHER=bin/luajit ../lua/boot.lua

CONFIG_MAC=y
