CONFIG_CC=i686-w64-mingw32-gcc
CONFIG_CXX=i686-w64-mingw32-g++
CONFIG_AR=i686-w64-mingw32-ar
CONFIG_LIBS= -static-libgcc -static-libstdc++ -lmingw32 -lglu32 -lopengl32 -lSDL2main -lSDL2
CONFIG_CFLAGS=-mwindows
CONFIG_BINARY=d2l.bat
CONFIG_SO=dll

CONFIG_SOIL_LIBS=-lopengl32

CONFIG_LAUNCHER=bin\luajit.exe ../lua/boot.lua
